body {
  text-align: center;
}

.game {
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.game:active {
  scale: 0.92;
}

.game:hover {
  background: rgb(2,29,78);
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
  color: rgb(4, 4, 38);
}

@media (min-width: 768px) {
  .game,
  .game:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}

#MyCanvas{
  border: 2px solid;
}

button{
  height: 20px;
  width: 45px;
  margin-left: 10px;
}

#color button, #size button{
  border: none;
  margin-left: 5px;
}

#plus button{
  border: none;
}
#color button{
  margin-left: 0;
}

#color button:hover, #size button:hover{
  opacity: 0.5;
}
#white{
  width: 20px;
}
#black{
  background-color: black;
  width: 20px;
}
#lightgray{
  background-color: lightgrey;
  width: 20px;
}
#gray{
  background-color: gray;
  width: 20px;
}
#red{
  background-color: red;
  width: 20px;
}
#darkred{
  background-color: darkred;
  width: 20px;
}
#orange{
  background-color: orange;
  width: 20px;
}
#yellow{
  background-color: yellow;
  width: 20px;
}
#lightgreen{
  background-color: lightgreen;
  width: 20px;
}
#green{
  background-color: green;
  width: 20px;
}
#darkgreen{
  background-color: darkgreen;
  width: 20px;
}
#lightblue{
  background-color: lightblue;
  width: 20px;
}
#cyan{
  background-color: cyan;
  width: 20px;
}
#blue{
  background-color: blue;
  width: 20px;
}
#darkblue{
  background-color: darkblue;
  width: 20px;
}
#purple{
  background-color: purple;
  width: 20px;
}
#pink{
  background-color: pink;
  width: 20px;
}
#brown{
  background-color: brown;
  width: 20px;
}
#Xsmall{
  background-color: black;
  border-radius: 50%;
  height: 9px;
  width: 9px;
}
#small{
  background-color: black;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}
#medium{
  background-color: black;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}
#large{
  background-color: black;
  border-radius: 50%;
  height: 18px;
  width: 18px;
}
#Xlarge{
  background-color: black;
  border-radius: 50%;
  height: 21px;
  width: 21px;
}

#next, #clear{
  margin-left: 10px;
}

#next:hover, #clear:hover{
  color: white;
  background-color: black;
}

ul{
  list-style-type: none;
}
