doctype html
html
  head
    title= 'Comme tu veux'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(id = "go" class= 'game')  Go !
    ul(id = "playerList")
    br
    p(id="initWord") le mot a dessiner est :
    ul(id="word")
    br
    canvas(id = "MyCanvas" width= "1000" height= "500")
    br
    section(id="info")
      section(id="color")
        button(id="white")
        button(id="black")
        button(id="lightgray")
        button(id="gray")
        button(id="red")
        button(id="darkred")
        button(id="orange")
        button(id="yellow")
        button(id="lightgreen")
        button(id="green")
        button(id="darkgreen")
        button(id="lightblue")
        button(id="cyan")
        button(id="blue")
        button(id="darkblue")
        button(id="purple")
        button(id="pink")
        button(id="brown")
      section(id="size")
        button(id="Xsmall")
        button(id="small")
        button(id="medium")
        button(id="large")
        button(id="Xlarge")
      section(id="plus")
        button(id="clear") Clear 
        button(id="next") Next 
        ul(id="chat-message")
        input(type="text" id="chat-input")
    
    
    script(type = 'module' src='/javascripts/game.js')