doctype html
html
  head
    title= 'Comme tu veux'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(id = "go" class= 'game')  Go !
    ul(id = "playerList")
    canvas(id = "MyCanvas" width= "1000" height= "500")

    button(id="white") white
    button(id="black") black
    button(id="lightgrey") light grey 
    button(id="grey") grey 
    button(id="red") red
    button(id="darkred") dark red
    button(id="orange") orange
    button(id="yellow") yellow
    button(id="green") green
    button(id="darkgreen") dark green
    button(id="lightblue") light blue
    button(id="cyan") cyan
    button(id="blue") blue
    button(id="darkblue") dark blue
    button(id="purple") purple
    button(id="pink") pink
    button(id="brown") brown

    button(id="Xsmall") X-small size 
    button(id="small") small size 
    button(id="medium") medium size 
    button(id="large") large size 
    button(id="Xlarge") X-large size 

    button(id="clear") clear 

    input(type="text" id="chat-input")
    ul(id="chat-message")
    
    script(type = 'module' src='/javascripts/game.js')