doctype html
html
  head
    title= 'Comme tu veux'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    form(name = "form1" method = 'get')
      label(for="Name") Name :
      input(type="text" placeholder='Name' name='Name')
    form(name = "form2" method = 'get')
      label(for="RoomId") Room ID :
      input(type="text" placeholder='Room ID' name='roomID')
    a(id = "go" class= 'game') Go !

    script(type = 'module' src='/javascripts/index.js')